<!DOCTYPE html>
<head>
  <title>CRUD Operation With PostgreSQL</title>
</head>
<body>
  <center>
    <h1>Edit Employee Details</h1>
    <h3>Django Web Tutorials</h3>
    <hr/>
    <form method="POST" action="/Update/{{EmpModel.id}}">
        {% csrf_token %}
      <a href="{% url 'Insertemp' %}">Create New Employee</a>
      <table border="1">
        <tr>
          <td>Employee Id</td>
          <td><input type="text" name="id" value="{{EmpModel.id}}" readonly></td>
        </tr>
        <tr>
          <td>Employee Name</td>
          <td><input type="text" name="empname" value="{{EmpModel.empname}}"></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" name="email" value="{{EmpModel.email}}"></td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td><input type="text" name="occupation" value="{{EmpModel.occupation}}"></td>
        </tr>
        <tr>
          <td>Salary</td>
          <td><input type="text" name="salary" value="{{EmpModel.salary}}"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Update Record"></td>
          <td>
            {% if messages %}
            {% for msg in messages %}
            <b style="color: green;">{{msg}}</b>
            {% endfor %}
            {% endif %}
          </td>
        </tr>
      </table>
      <a href="{% url 'showemp' %}">Go To Home Page</a>
    </form>
  </center>
</body>
</html>
